# Private data folder
Gitignore/

# OS files
.DS_Store
Thumbs.db

# Editor files
.vscode/
.idea/
*.swp
*.swo

# Dependencies
node_modules/

# Logs
*.log

# Local env files
.env
.env.local

# Excel files
*.xlsx
*.xls
*.xlsm

# CSV files
*.csv
